<table>
    <tr>
      <mat-label style="font-size:40px; margin-bottom: 200px,padding-right=50px; margin-left: 10%;"><b>IMPLEMENT</b></mat-label>
    </tr><br><br>
  </table>
        <textarea name="analyse" placeholder="analyse" rows="7" cols="32" [(ngModel)]="dmaic.analyse"
        style="font-size:15px; margin-left: 5%;">{{dmaic.analyse}}</textarea> &nbsp;&nbsp;&nbsp;&nbsp;

    <textarea name="implementation" placeholder="implementation" rows="7" cols="32" [(ngModel)]="dmaic.implementation"
        style="font-size:15px; margin-left: 5%;">{{dmaic.implementation}}</textarea>
