<!-----
<nav class="navbar navbar-dark bg-dark mb-5 fixed-top">
<a class="navbar-brand" routerLink="/user-list"><b>DMAIC Progress</b></a>  &nbsp; &nbsp;
  <a class="navbar-brand" routerLink="/dmaic"><b> sixsigma Progress</b></a>  &nbsp; &nbsp; 
  <a class="navbar-brand"  routerLink="/dmaic/dmaicsheet/new"><b>Create DMAIC</b></a>  &nbsp; &nbsp; &nbsp; &nbsp;
<div class="navbar-expand ml-auto navbar-nav">
    
    <div class="navbar-nav">
      <label>{{loginUser}}</label>

      <a class="nav-item nav-link active" routerLink="/login" *ngIf="loginUser==''">Login</a>  &nbsp; &nbsp;
      <a class="nav-item nav-link" routerLink="">Logout</a>

    </div>
</div>
</nav>---->

<div class="container-fluid">
    <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
        <label>{{loginUser}}</label>
  
        <a class="nav-item nav-link active" routerLink="/login" *ngIf="loginUser==''">Login</a>  &nbsp; &nbsp;
        <a class="nav-item nav-link" routerLink="">Logout</a>
  
      </div></div>
</div>