<table>
  <tr>
    <mat-label style="font-size:40px; margin-bottom: 200px; margin-left: 10%;"><b>CONTROL</b></mat-label>
  </tr>
</table>
 <br><br>
   <textarea name="implementation" placeholder="implementation" rows="7" cols="32" [(ngModel)]="dmaic.implementation"
    style="font-size:15px; margin-left: 5%;">{{dmaic.implementation}}</textarea> &nbsp;&nbsp;&nbsp;&nbsp;

    <textarea name="control" placeholder="control" rows="7" cols="32" [(ngModel)]="dmaic.control"
        style="font-size:15px; margin-left: 5%;">{{dmaic.control}}</textarea>